services:
  postgres:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - alpenwegs

  redis:
    image: redis:7-alpine
    networks:
      - alpenwegs

networks:
  alpenwegs:

volumes:
  postgres_data:
  staticfiles: