.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
}

.subtitle {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  text-align: center;
  margin-top: 6px;
}

@media (max-width: 768px) {
  .registerPageInput input {
    font-size: 17px;
  }
}
